body {
    box-sizing: border-box;
    background-color: #68c2ddbd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 20px;
}

h4 {
    margin-bottom: 0px;
    margin-left: 20px;
}

.flex-container {
    display: flex;
    justify-content:space-around;
}

.flex-element {
    width: 30%;
}


figure {
    background-color: white;
}

