body {
    background-color: rgb(163 159 159 / 15%);
}

table {
    width: 800px;
    margin: 50px auto;

    border-spacing: 0;
}

table tr td {
    padding: 23px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(163 159 159 / 15%);
}

table thead th {
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 20px;
    background-color :lightblue;
}

tbody th:first-child {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color :lightblue;
    padding: 20px;
}

