body {
    width: 800px;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(163 159 159 / 15%);
}

footer {
    margin: 20px auto;
    padding: 30px;
    background-color:#292983;
    color: white;
}

.container {
    margin-right: 182px;
}

.float {
    float: left;
}

footer ul {
    list-style-type: none;
}

.container a, .container-2 a {
    color: white;
    text-decoration: none;
}

.container a:hover, .container-2 a:hover {
    text-decoration: underline;
}

.container-3 a {
    padding: 44px 35px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 32px 23px;
    float: left;
}
/* Отлично! */


.fb-grey {
    background-image: url(../images/icons_hw_module_3/fb_gray.png);
}


.inst-grey {
    background-image: url(../images/icons_hw_module_3/insta_gray.png);
}

.you-tube-grey {
    background-image: url(../images/icons_hw_module_3/youtube_gray.png);
}


.container-3 .fb-grey:hover {
    background-image: url(../images/icons_hw_module_3/fb.png);
}

.container-3 .inst-grey:hover {
    background-image: url(../images/icons_hw_module_3/insta.png);
}

.container-3 .you-tube-grey:hover {
    background-image: url(../images/icons_hw_module_3/youtube.png);
}

